<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>jsp_universityManagement_5</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AcademicInformationController</display-name>
		<servlet-name>AcademicInformationController</servlet-name>
		<servlet-class>com.university.controller.AcademicInformationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcademicInformationController</servlet-name>
		<url-pattern>/AcademicInformationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CollegeController</display-name>
		<servlet-name>CollegeController</servlet-name>
		<servlet-class>com.university.controller.CollegeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeController</servlet-name>
		<url-pattern>/CollegeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentController</display-name>
		<servlet-name>DepartmentController</servlet-name>
		<servlet-class>com.university.controller.DepartmentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentController</servlet-name>
		<url-pattern>/DepartmentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoomController</display-name>
		<servlet-name>RoomController</servlet-name>
		<servlet-class>com.university.controller.RoomController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomController</servlet-name>
		<url-pattern>/RoomController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TuitionController</display-name>
		<servlet-name>TuitionController</servlet-name>
		<servlet-class>com.university.controller.TuitionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TuitionController</servlet-name>
		<url-pattern>/TuitionController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StuSubController</display-name>
		<servlet-name>StuSubController</servlet-name>
		<servlet-class>com.university.controller.StuSubController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StuSubController</servlet-name>
		<url-pattern>/StuSubController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StuSubDetailController</display-name>
		<servlet-name>StuSubDetailController</servlet-name>
		<servlet-class>com.university.controller.StuSubDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StuSubDetailController</servlet-name>
		<url-pattern>/StuSubDetailController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ScholarshipController</display-name>
		<servlet-name>ScholarshipController</servlet-name>
		<servlet-class>com.university.controller.ScholarshipController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScholarshipController</servlet-name>
		<url-pattern>/ScholarshipController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BreakAppController</display-name>
		<servlet-name>BreakAppController</servlet-name>
		<servlet-class>com.university.controller.BreakAppController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BreakAppController</servlet-name>
		<url-pattern>/BreakAppController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StuStatController</display-name>
		<servlet-name>StuStatController</servlet-name>
		<servlet-class>com.university.controller.StuStatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StuStatController</servlet-name>
		<url-pattern>/StuStatController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyInfoController</display-name>
		<servlet-name>MyInfoController</servlet-name>
		<servlet-class>com.university.controller.MyInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInfoController</servlet-name>
		<url-pattern>/MyInfoController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubjectController</display-name>
		<servlet-name>SubjectController</servlet-name>
		<servlet-class>com.university.controller.SubjectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/SubjectController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SugangController</display-name>
		<servlet-name>SugangController</servlet-name>
		<servlet-class>com.university.controller.SugangController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SugangController</servlet-name>
		<url-pattern>/SugangController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GradeController</display-name>
		<servlet-name>GradeController</servlet-name>
		<servlet-class>com.university.controller.GradeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GradeController</servlet-name>
		<url-pattern>/GradeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ScheduleController</display-name>
		<servlet-name>ScheduleController</servlet-name>
		<servlet-class>com.university.controller.ScheduleController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleController</servlet-name>
		<url-pattern>/ScheduleController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InfoController</display-name>
		<servlet-name>InfoController</servlet-name>
		<servlet-class>com.university.controller.InfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoController</servlet-name>
		<url-pattern>/InfoController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.university.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/AdminController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateController</display-name>
		<servlet-name>UpdateController</servlet-name>
		<servlet-class>com.university.controller.UpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateController</servlet-name>
		<url-pattern>/UpdateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProfessorController</display-name>
		<servlet-name>ProfessorController</servlet-name>
		<servlet-class>com.university.controller.ProfessorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessorController</servlet-name>
		<url-pattern>/ProfessorController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EvaluationController</display-name>
		<servlet-name>EvaluationController</servlet-name>
		<servlet-class>com.university.controller.EvaluationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EvaluationController</servlet-name>
		<url-pattern>/EvaluationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>home</display-name>
		<servlet-name>home</servlet-name>
		<servlet-class>com.university.controller.home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>